// index.scss
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

//
$primary-color: #000000;
$secondary-color: #ffffff;

body {
    background-color: $secondary-color;
    font-style: $primary-color;
}

.title {
    color: $primary-color;
    font-size: 24px;
    font-weight: bold;
}

.footer {
    background-color: #46b43c;
    color: $primary-color;
    font-size: 15px;
    text-align: center;
    height: 30px;
}